@model IEnumerable<PersonaKey.EntityLayer.Concrete.Role>

@{
    ViewData["Title"] = "Roller";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Rol Ekle</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Rol Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
