@model IEnumerable<PersonaKey.EntityLayer.Concrete.Role>

@{
    ViewData["Title"] = "Roller";
}

<div class="bg-white rounded-lg shadow p-4 max-w-full overflow-auto">

    <h2>@ViewData["Title"]</h2>

    <p>
        <a class="btn btn-primary" asp-action="Create">Yeni Rol Ekle</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Rol Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@role.Id" class="btn btn-sm btn-warning">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-sm btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>