@model PersonaKey.EntityLayer.Concrete.AccessLog

@{
    ViewData["Title"] = "Giriş Kaydını Güncelle";
    var cards = ViewBag.Cards as SelectList;
    var doors = ViewBag.Doors as SelectList;
}

<div class="bg-white rounded-lg shadow p-4 max-w-full overflow-auto">

    <h2>@ViewData["Title"]</h2>

    <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="CardId">Kart</label>
            <select asp-for="CardId" asp-items="cards" class="form-control"></select>
            <span asp-validation-for="CardId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DoorId">Kapı</label>
            <select asp-for="DoorId" asp-items="doors" class="form-control"></select>
            <span asp-validation-for="DoorId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AccessTime">Giriş Saati</label>
            <input asp-for="AccessTime" class="form-control" type="datetime-local" />
            <span asp-validation-for="AccessTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExitTime">Çıkış Saati</label>
            <input asp-for="ExitTime" class="form-control" type="datetime-local" />
            <span asp-validation-for="ExitTime" class="text-danger"></span>
        </div>

        <div class="form-check">
            <input asp-for="IsSuccess" class="form-check-input" />
            <label asp-for="IsSuccess" class="form-check-label">Başarılı mı?</label>
        </div>
        <br />
        <button type="submit" class="btn btn-warning">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
