@model IEnumerable<PersonaKey.EntityLayer.Concrete.Permission>

@{
    ViewData["Title"] = "İzinler Listesi";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Door</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model)
        {
            <tr>
                <td>@permission.Id</td>
                <td>@permission.Role?.Name</td>
                <td>@permission.Door?.Name</td>
            </tr>
        }
    </tbody>
</table>
