@model IEnumerable<PersonaKey.EntityLayer.Concrete.Permission>

@{
    ViewData["Title"] = "İzinler Listesi";
}

<h2>@ViewData["Title"]</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Yeni İzin Ekle</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol</th>
            <th>Kapı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model)
        {
            <tr>
                <td>@permission.Id</td>
                <td>@permission.Role?.Name</td>
                <td>@permission.Door?.Name</td>
            </tr>
        }
    </tbody>
</table>
