@model IEnumerable<PersonaKey.EntityLayer.Concrete.Department>

@{
    ViewData["Title"] = "Departmanlar";
}

<h2>@ViewData["Title"]</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Yeni Departman Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
